In [1]:
import pandas as pd
import numpy as np
import lightgbm as lgb
from scipy.sparse import vstack, csr_matrix, save_npz, load_npz
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score
import gc
gc.enable()

dtypes = {
    'MachineIdentifier':                                    'object',
    'ProductName':                                          'object',
    'EngineVersion':                                        'object',
    'AppVersion':                                           'object',
    'AvSigVersion':                                         'object',
    'IsBeta':                                               'int8',
    'RtpStateBitfield':                                     'float16',
    'IsSxsPassiveMode':                                     'int8',
    'DefaultBrowsersIdentifier':                            'float32',  # was 'float16'
    'AVProductStatesIdentifier':                            'float32',
    'AVProductsInstalled':                                  'float16',
    'AVProductsEnabled':                                    'float16',
    'HasTpm':                                               'int8',
    'CountryIdentifier':                                    'int16',
    'CityIdentifier':                                       'float32',
    'OrganizationIdentifier':                               'float16',
    'GeoNameIdentifier':                                    'float16',
    'LocaleEnglishNameIdentifier':                          'int16',  # was 'int8'
    'Platform':                                             'object',
    'Processor':                                            'object',
    'OsVer':                                                'object',
    'OsBuild':                                              'int16',
    'OsSuite':                                              'int16',
    'OsPlatformSubRelease':                                 'object',
    'OsBuildLab':                                           'object',
    'SkuEdition':                                           'object',
    'IsProtected':                                          'float16',
    'AutoSampleOptIn':                                      'int8',
    'PuaMode':                                              'object',
    'SMode':                                                'float16',
    'IeVerIdentifier':                                      'float16',
    'SmartScreen':                                          'object',
    'Firewall':                                             'float16',
    'UacLuaenable':                                         'float64', # was 'float32'
    'Census_MDC2FormFactor':                                'object',
    'Census_DeviceFamily':                                  'object',
    'Census_OEMNameIdentifier':                             'float32', # was 'float16'
    'Census_OEMModelIdentifier':                            'float32',
    'Census_ProcessorCoreCount':                            'float16',
    'Census_ProcessorManufacturerIdentifier':               'float16',
    'Census_ProcessorModelIdentifier':                      'float32', # was 'float16'
    'Census_ProcessorClass':                                'object',
    'Census_PrimaryDiskTotalCapacity':                      'float64', # was 'float32'
    'Census_PrimaryDiskTypeName':                           'object',
    'Census_SystemVolumeTotalCapacity':                     'float64', # was 'float32'
    'Census_HasOpticalDiskDrive':                           'int8',
    'Census_TotalPhysicalRAM':                              'float32',
    'Census_ChassisTypeName':                               'object',
    'Census_InternalPrimaryDiagonalDisplaySizeInInches':    'float32', # was 'float16'
    'Census_InternalPrimaryDisplayResolutionHorizontal':    'float32', # was 'float16'
    'Census_InternalPrimaryDisplayResolutionVertical':      'float32', # was 'float16'
    'Census_PowerPlatformRoleName':                         'object',
    'Census_InternalBatteryType':                           'object',
    'Census_InternalBatteryNumberOfCharges':                'float64', # was 'float32'
    'Census_OSVersion':                                     'object',
    'Census_OSArchitecture':                                'object',
    'Census_OSBranch':                                      'object',
    'Census_OSBuildNumber':                                 'int16',
    'Census_OSBuildRevision':                               'int32',
    'Census_OSEdition':                                     'object',
    'Census_OSSkuName':                                     'object',
    'Census_OSInstallTypeName':                             'object',
    'Census_OSInstallLanguageIdentifier':                   'float16',
    'Census_OSUILocaleIdentifier':                          'int16',
    'Census_OSWUAutoUpdateOptionsName':                     'object',
    'Census_IsPortableOperatingSystem':                     'int8',
    'Census_GenuineStateName':                              'object',
    'Census_ActivationChannel':                             'object',
    'Census_IsFlightingInternal':                           'float16',
    'Census_IsFlightsDisabled':                             'float16',
    'Census_FlightRing':                                    'object',
    'Census_ThresholdOptIn':                                'float16',
    'Census_FirmwareManufacturerIdentifier':                'float16',
    'Census_FirmwareVersionIdentifier':                     'float32',
    'Census_IsSecureBootEnabled':                           'int8',
    'Census_IsWIMBootEnabled':                              'float16',
    'Census_IsVirtualDevice':                               'float16',
    'Census_IsTouchEnabled':                                'int8',
    'Census_IsPenCapable':                                  'int8',
    'Census_IsAlwaysOnAlwaysConnectedCapable':              'float16',
    'Wdft_IsGamer':                                         'float16',
    'Wdft_RegionIdentifier':                                'float16',
    'HasDetections':                                        'float32',
    }

In [2]:
print('Download Train and Test Data.\n')
nrow=40000
train = pd.read_csv('../data/raw/train.csv', dtype=dtypes, low_memory=True, 
                                    nrows=nrow)
test  = pd.read_csv('../data/raw/test.csv',  dtype=dtypes, low_memory=True,
                                    nrows=nrow)

train['MachineIdentifier'] = train.index.astype('uint32')
test['MachineIdentifier']  = test.index.astype('uint32')

# https://www.kaggle.com/jiegeng94/everyone-do-this-at-the-beginning
drop_cols = ['AvSigVersion', 'IsSxsPassiveMode', 'Platform', 'SkuEdition',
               'IeVerIdentifier', 'Census_ProcessorManufacturerIdentifier',
               'Census_InternalPrimaryDisplayResolutionVertical', 'Census_OSUILocaleIdentifier',
               'Census_OSSkuName', 'Census_OSBuildNumber', 'Census_OSBuildRevision']

train.drop(drop_cols, axis=1, inplace=True)
test.drop(drop_cols, axis=1, inplace=True)

gc.collect()

Download Train and Test Data.

28

In [4]:
usecol = 'CountryIdentifier'

train[usecol] = train[usecol].astype('str') 
test[usecol] = test[usecol].astype('str') 

# fit LabelEncoder
le = LabelEncoder().fit(np.unique(train[usecol].unique().tolist() + test[usecol].unique().tolist()))

# at the end 0 will be used for dropped values
train[usecol] = le.transform(train[usecol])+1
test[usecol]  = le.transform(test[usecol])+1

In [5]:
train['CountryIdentifier'].unique()
train.groupby([usecol]).aggregate({'MachineIdentifier':'count'}).reset_index().rename({'MachineIdentifier':'Train'}, axis=1).head()

   CountryIdentifier  Train
0                  1     12
1                  2      1
2                  3    143
3                  4    337
4                  5    109

In [6]:
train[usecol].head()

0    144
1    215
2    207
3    209
4     89
Name: CountryIdentifier, dtype: int64

In [7]:
train.groupby([usecol]).aggregate({'MachineIdentifier':'count'}).reset_index().rename({'MachineIdentifier':'Train'}, axis=1).head()

   CountryIdentifier  Train
0                  1     12
1                  2      1
2                  3    143
3                  4    337
4                  5    109

In [8]:
train.groupby([usecol])['MachineIdentifier'].count().reset_index().rename({'MachineIdentifier':'Train'}, axis=1).head()

   CountryIdentifier  Train
0                  1     12
1                  2      1
2                  3    143
3                  4    337
4                  5    109

In [9]:
# 各カラムごとのMachineIdentifier列のカウントを取得
agg_tr = (train
          .groupby([usecol])
          .aggregate({'MachineIdentifier':'count'})
          .reset_index()
          .rename({'MachineIdentifier':'Train'}, axis=1))

agg_te = (test
          .groupby([usecol])
          .aggregate({'MachineIdentifier':'count'})
          .reset_index()
          .rename({'MachineIdentifier':'Test'}, axis=1))

In [10]:
agg_tr.head()

   CountryIdentifier  Train
0                  1     12
1                  2      1
2                  3    143
3                  4    337
4                  5    109

In [11]:
agg_te.head()

   CountryIdentifier  Test
0                  1    10
1                  3   176
2                  4   309
3                  5    97
4                  6    31

In [12]:
agg = pd.merge(agg_tr, agg_te, on=usecol, how='outer').replace(np.nan, 0)
agg.head()

   CountryIdentifier  Train   Test
0                  1   12.0   10.0
1                  2    1.0    0.0
2                  3  143.0  176.0
3                  4  337.0  309.0
4                  5  109.0   97.0

In [13]:
# select values with more than 1000 observations
agg = agg[(agg['Train'] > 1000)].reset_index(drop=True)
agg

   CountryIdentifier   Train    Test
0                 47  1505.0  1521.0
1                 80  1233.0  1543.0
2                144  1524.0  1475.0
3                160  1811.0  2329.0
4                179  1079.0  1048.0
5                215  1279.0  1180.0

In [14]:
agg['Total'] = agg['Train'] + agg['Test']
agg.head()

   CountryIdentifier   Train    Test   Total
0                 47  1505.0  1521.0  3026.0
1                 80  1233.0  1543.0  2776.0
2                144  1524.0  1475.0  2999.0
3                160  1811.0  2329.0  4140.0
4                179  1079.0  1048.0  2127.0

In [15]:
# drop unbalanced values between train and test data
agg = agg[(agg['Train'] / agg['Total'] > 0.2) & (agg['Train'] / agg['Total'] < 0.8)]
agg.head()

   CountryIdentifier   Train    Test   Total
0                 47  1505.0  1521.0  3026.0
1                 80  1233.0  1543.0  2776.0
2                144  1524.0  1475.0  2999.0
3                160  1811.0  2329.0  4140.0
4                179  1079.0  1048.0  2127.0

In [16]:
agg[usecol + 'Copy'] = agg[usecol]
agg[usecol + 'Copy'].head()

0     47
1     80
2    144
3    160
4    179
Name: CountryIdentifierCopy, dtype: int64

In [17]:
train[usecol] = (pd.merge(train[[usecol]], 
                          agg[[usecol, usecol+'Copy']], 
                          on=usecol, how='left')[usecol+'Copy']
                          .replace(np.nan, 0).astype('int').astype('category'))
train[usecol].unique().tolist()

[144, 215, 0, 80, 160, 47, 179]

In [18]:
train[usecol]

0        144
1        215
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9        215
10         0
11         0
12         0
13        80
14         0
15         0
16         0
17       215
18         0
19         0
20       215
21       160
22         0
23         0
24         0
25       160
26         0
27        80
28         0
29         0
        ...
39970      0
39971      0
39972      0
39973      0
39974     80
39975     47
39976      0
39977      0
39978      0
39979    160
39980    144
39981    160
39982      0
39983      0
39984      0
39985    144
39986      0
39987      0
39988      0
39989      0
39990    160
39991      0
39992      0
39993      0
39994     80
39995      0
39996      0
39997    144
39998      0
39999      0
Name: CountryIdentifier, Length: 40000, dtype: category
Categories (7, int64): [0, 47, 80, 144, 160, 179, 215]

In [19]:
test[usecol]  = (pd.merge(test[[usecol]], 
                          agg[[usecol, usecol+'Copy']], 
                          on=usecol, how='left')[usecol+'Copy']
                 .replace(np.nan, 0).astype('int').astype('category'))

In [20]:
test[usecol].unique()

[160, 0, 144, 80, 215, 179, 47]
Categories (7, int64): [160, 0, 144, 80, 215, 179, 47]

In [21]:
gc.collect()

91

In [22]:
y_train = np.array(train['HasDetections'])
y_train

array([0., 0., 0., ..., 0., 1., 1.], dtype=float32)

In [23]:
train_ids = train.index
test_ids  = test.index

In [24]:
train_ids.shape

(40000,)

In [25]:
test_ids

RangeIndex(start=0, stop=40000, step=1)

In [26]:
del train['HasDetections'], train['MachineIdentifier'], test['MachineIdentifier']
gc.collect()

21

In [27]:
train.head()

,ProductName,EngineVersion,AppVersion,IsBeta,RtpStateBitfield,DefaultBrowsersIdentifier,AVProductStatesIdentifier,AVProductsInstalled,AVProductsEnabled,HasTpm,...,Census_FirmwareManufacturerIdentifier,Census_FirmwareVersionIdentifier,Census_IsSecureBootEnabled,Census_IsWIMBootEnabled,Census_IsVirtualDevice,Census_IsTouchEnabled,Census_IsPenCapable,Census_IsAlwaysOnAlwaysConnectedCapable,Wdft_IsGamer,Wdft_RegionIdentifier
0,win8defender,1.1.15100.1,4.18.1807.18075,0,7.0,NaN,53447.0,1.0,1.0,1,...,628.0,36144.0,0,NaN,0.0,0,0,0.0,0.0,10.0
1,win8defender,1.1.14600.4,4.13.17134.1,0,7.0,NaN,53447.0,1.0,1.0,1,...,628.0,57858.0,0,NaN,0.0,0,0,0.0,0.0,8.0
2,win8defender,1.1.15100.1,4.18.1807.18075,0,7.0,NaN,53447.0,1.0,1.0,1,...,142.0,52682.0,0,NaN,0.0,0,0,0.0,0.0,3.0
3,win8defender,1.1.15100.1,4.18.1807.18075,0,7.0,NaN,53447.0,1.0,1.0,1,...,355.0,20050.0,0,NaN,0.0,0,0,0.0,0.0,3.0
4,win8defender,1.1.15100.1,4.18.1807.18075,0,7.0,NaN,53447.0,1.0,1.0,1,...,355.0,19844.0,0,0.0,0.0,0,0,0.0,0.0,1.0

In [29]:
#Fit OneHotEncoder
ohe = OneHotEncoder(categories='auto', sparse=True, dtype='uint8').fit(train['CountryIdentifier'])
ohe

ValueError: Expected 2D array, got 1D array instead:
array=[144 215   0 ... 144   0   0].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
#Transform data using small groups to reduce memory usage
m = 100000
train = vstack([ohe.transform(train[i*m:(i+1)*m]) for i in range(train.shape[0] // m + 1)])
test  = vstack([ohe.transform(test[i*m:(i+1)*m])  for i in range(test.shape[0] // m +  1)])

In [ ]:
train

In [ ]:
# check for nan
def nan_check(x):
    if isinstance(x,float):
        if math.isnan(x):
            return True
    return False


# target encoding
def encode_TE(df,col,tar='HasDetections'):
    d = {}
    v = df[col].unique()
    for x in v:
        if nan_check(x):
            m = df[tar][df[col].isna()].mean()
        else:
            m = df[tar][df[col]==x].mean()
        d[x] = m
    n = col+"_TE"
    df[n] = df[col].map(d)
    return [[n],d]


# target encoding first ct columns by freq
def encode_TE_partial(df,col,ct,tar='HasDetections',xx=0.5):
    d = {}
    cv = df[col].value_counts(dropna=False)
    nm = cv.index.values[0:ct]
    for x in nm:
        if nan_check(x):
            m = df[tar][df[col].isna()].mean()
        else:
            m = df[tar][df[col]==x].mean()
        d[x] = m
    n = col+"_TE"
    df[n] = df[col].map(d).fillna(xx)
    
    return [[n],d]


# target encoding from dictionary
def encode_TE_test(df,col,mp,xx=0.5):
    n = col+"_TE"
    df[n] = df[col].map(mp).fillna(xx)
    return [[n],0]

In [ ]:
cols = []

# target encode for train
tmp = encode_TE_partial(train,'CountryIdentifier',150)
cols += tmp[0]; dict_country = tmp[1]
tmp = encode_TE_partial(train,'OsBuild',5)
cols += tmp[0]; dict_osbuild = tmp[1]

# target encode for test
cols += encode_TE_test(test,'CountryIdentifier',dict_country)[0]
cols += encode_TE_test(test,'OsBuild',dict_osbuild)[0]

In [ ]:
df_CountryIdentifier_TE = train['CountryIdentifier_TE']
df_OsBuild_TE = train['OsBuild_TE']

In [ ]:
train.head()

In [ ]:
save_npz('train.npz', train, compressed=True)
save_npz('test.npz',  test,  compressed=True)

del ohe, train, test
gc.collect()

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
skf.get_n_splits(train_ids, y_train)

lgb_test_result  = np.zeros(test_ids.shape[0])
lgb_train_result = np.zeros(train_ids.shape[0])
counter = 0

print('\nLightGBM\n')

for train_index, test_index in skf.split(train_ids, y_train):
    
    print('Fold {}\n'.format(counter + 1))
    
    train = load_npz('train.npz')
    X_fit = vstack([train[train_index[i*m:(i+1)*m]] for i in range(train_index.shape[0] // m + 1)])
    X_val = vstack([train[test_index[i*m:(i+1)*m]]  for i in range(test_index.shape[0] //  m + 1)])
    X_fit, X_val = csr_matrix(X_fit, dtype='float32'), csr_matrix(X_val, dtype='float32')
    y_fit, y_val = y_train[train_index], y_train[test_index]
    
    del train
    gc.collect()

    lgb_model = lgb.LGBMClassifier(max_depth=5,
                                   n_estimators=30000,
                                   learning_rate=0.05,
                                   num_leaves=2**12-1,
                                   colsample_bytree=0.28,
                                   objective='binary', 
                                   n_jobs=-1)
                               
    lgb_model.fit(X_fit, y_fit, eval_metric='auc', 
                  eval_set=[(X_val, y_val)], 
                  verbose=100, early_stopping_rounds=100)
                  
    xgb_model.fit(X_fit, y_fit, eval_metric='auc', 
                  eval_set=[(X_val, y_val)], 
                  verbose=1000, early_stopping_rounds=300)

    lgb_train_result[test_index] += lgb_model.predict_proba(X_val)[:,1]

    del X_fit, X_val, y_fit, y_val, train_index, test_index
    gc.collect()
    
    test = load_npz('test.npz')
    test = csr_matrix(test, dtype='float32')
    lgb_test_result += lgb_model.predict_proba(test)[:,1]
    counter += 1
    
    del test
    gc.collect()

print('\nLigthGBM VAL AUC Score: {}'.format(roc_auc_score(y_train, lgb_train_result)))

submission = pd.read_csv('../input/sample_submission.csv')
submission['HasDetections'] = lgb_test_result / counter
submission.to_csv('lgb_submission.csv', index=False)

print('\nDone.')